appnope==0.1.2
astropy==4.1
asttokens==2.0.5
backcall==0.2.0
black==22.1.0
click==8.0.3
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
dill==0.3.4
entrypoints==0.4
executing==0.8.2
fonttools==4.27.1
ipykernel==5.5.6
ipython==7.16.3
jedi==0.17.2
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver==1.3.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
multiprocess==0.70.12.2
mypy-extensions==0.4.3
nest-asyncio==1.5.4
numpy==1.19.5
packaging==21.3
parso==0.7.1
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
pyerfa==1.7.3
Pygments==2.11.2
pyparsing==3.0.7
python-dateutil==2.8.2
PyYAML==6.0
pyzmq==22.3.0
scipy==1.5.4
six==1.16.0
stack-data==0.2.0
stardust @ git+https://github.com/VasilyKokorev/stardust.git@1c5c21728b44e3cd6cc000b65ef2fb08985519c7
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typing_extensions==4.1.1
wcwidth==0.2.5
